<div class="col s12">
                        
    <div class="card">
        <div class="card-content">
            
            <span class="card-title center-align">Create Project</span>
            
            <div class="row">
                <form class="col s12" method="post" action="/project/create">
                    
                    <div class="input-field col s12 form-group">
                        <input id="projectName" name="projectName" type="text" class="validate form-control" required="" aria-required="true">
                        <label for="projectName">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="projectDesc" name="projectDesc" class="materialize-textarea"></textarea>
                        <label for="projectDesc">Description</label>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>





var model = $(go.TreeModel);
    for (i in res["History"]){
        var entry = res["History"][i];
        console.log(entry);
        var item = {}
        if (i === 0){
            item = { key: entry["Filepath"], name: entry["Change"]}
        } else {
            item = { key: entry["Filepath"], parent: entry["Previous"], change: entry["Change"]}
        }       
        model.nodeDataArray.push(item)
    }