{% extends "master.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l4" style="position: sticky; position:-webkit-sticky; top:9%; z-index: 5;">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Filter</span>
                    <div class="row">
                        <form class="col s12" id="searchForm" method="post" action="/search">
                            <div class="input-field col s12">
                                <textarea id="jsonQuery" name="jsonQuery" class="materialize-textarea"></textarea>
                                <label for="jsonQuery">Query</label>
                            </div>
                            <div class="col s12">
                                <button class="btn waves-effect waves-light right pink darken-1" type="submit" name="action">Search</button>
                            </div>       
                        </form>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col s12 m12 l8">
            <ul class="collapsible popout">
                {% if items|length %}
                    {% for item in items %}    
                        <li>

                            <div class="collapsible-header hoverable">
                                <span class="grey-text text-darken-2"><i class="material-icons left pink-text text-darken-1">folder</i>{{item.get_data_set_name()}}</span>
                            </div>

                            <div class="collapsible-body">

                                <div class="row">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <span class="card-title center-align">Dataset Information</span>
                                                <div class="row">
                                                    <div class="col s12 m6">
                                                        <ul class="collection center-left">
                                                            <li class="collection-item"><b>Signal Type: </b>{{item.get_signal_type()}}</li>
                                                            <li class="collection-item"><b>Species: </b>{{item.get_species()}}</li>
                                                            <li class="collection-item"><b>Gender: </b>{{item.get_gender()}}</li>
                                                            <li class="collection-item"><b>Age: </b>{{item.get_age()}}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col s12 m6">
                                                        <ul class="collection center-left">
                                                            <li class="collection-item"><b>Target: </b>{{item.get_target()}}</li>
                                                            <li class="collection-item"><b>Action: </b>{{item.get_action()}}</li>
                                                            <li class="collection-item"><b>Channel Count: </b>{{item.get_channel_count()}}</li>
                                                            <li class="collection-item"><b>Device: </b>{{item.get_device()}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col s12">
                                                            <button id="btnAdd{{item.get_data_set_id()}}" data-target="modalAdd{{item.get_data_set_id()}}" onclick="updateSelectedDataset('{{item.get_data_set_id()}}')" class="pink darken-1 waves-effect waves-light btn modal-trigger left" >Add to project</button>                        
                                                            
                                                            <div id="modalAdd{{item.get_data_set_id()}}" class="modal">
                                                                <div class="modal-content">
                                                                    <h5>Add to project</h5>
                                                                    <form id="downloadFileForm{{item.get_data_set_id()}}" method="POST" action="/project/add"></form>
                                                                        <div class="row">
                                                                            <div class="col s12">
                                                        
                                                                                <div class="input-field col s12">
                                                                                    <select id="projectsSelected{{item.get_data_set_id()}}" multiple>
                                                                                    <option value="" disabled>Choose your option</option>
                                                                                    {% for project in projects %}
                                                                                        {% if not item.get_data_set_id() in project.get_dataset_ids() %}
                                                                                            <option value="{{project.get_project_id()}}">{{project.get_name()}}</option>
                                                                                        {% else %}
                                                                                            <option value="" disabled>{{project.get_name()}}</option>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    </select>
                                                                                    <label>Select projects</label>
                                                                                </div>
                                                        
                                                                            </div>
                                                                        </div>
                                                        
                                                                </div>
                                                                        <div class="modal-footer">
                                                                            <a class="modal-close btn waves-effect waves-light left white pink-text text-darken-1 hoverable">cancel</a>
                                                                            <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" onclick="addDataset()" >add</button>
                                                                        </div>
                                                                    
                                                            </div> 
                                                            
                                                            <form id="downloadDatasetForm{{item.get_data_set_id()}}" method="POST" action="/download/dataset">                                        
                                                                <input name="datasetName" value="{{item.get_data_set_name()}}" id="datasetName" class="hide form-control">
                                                                <input name="datasetId" value="{{item.get_data_set_id()}}" id="datasetId" class="hide form-control">
                                                                <button class="pink darken-1 waves-effect waves-light btn right" type="submit" name="action">Download</button>
                                                            </form>                                                     

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="slider">
                                                    <ul class="slides">
                                                      <li>
                                                        <img class="responsive-img" src="{{ url_for('static', filename='/img/logo.jpg')}}"> <!-- random image -->
                                                      </li>
                                                      <li>
                                                        <img class="responsive-img" src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                                                      </li>
                                                      <li>
                                                        <img class="responsive-img" src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                                                      </li>
                                                      <li>
                                                        <img class="responsive-img" src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                                                      </li>
                                                    </ul>
                                                  </div>
                                            </div> 
                                        </div> 
                                    </div>

                                </div>

                                <div class="row">
                                    {% if item.get_tags() %}
                                        <div class="col s12 m6">
                                            <ul class="collapsible">
                                                <li>
                                                    <div class="collapsible-header hoverable"><i class="material-icons pink-text text-darken-1">label</i>Tags</div>
                                                    <div class="collapsible-body">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>Key</th>
                                                                    <th>Value</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for key in item.get_tags().keys() %}
                                                                    <tr>
                                                                        <td>{{key}}</td>
                                                                        <td>{{item.get_tags()[key]}}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="col s12 m6">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header hoverable"><i class="material-icons pink-text text-darken-1">description</i>Source Files</div>
                                                <div class="collapsible-body">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Filename</th>
                                                                <th>Download</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for file in item.get_files() %}
                                                                {% if file['Change'] == 'source' %}
                                                                <tr>
                                                                    <form method="POST" action="/download/file">
                                                                         <td>{{file['Filename']}}</td>
                                                                        <input name="fileName" value="{{file['Filename']}}" id="file_name" class="hide form-control">
                                                                        <input name="dataset" value="{{item.get_data_set_name()}}" id="dataset" class="hide form-control">
                                                                        <td><button value="{{file['Filepath']}}" class="pink darken-1 waves-effect waves-light btn" type="submit" name="action">Download</button></td>
                                                                    </form>
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    {% if item.get_projects() %}
                                        <div class="col s12 m6">
                                            <ul class="collapsible">
                                                <li>
                                                    <div class="collapsible-header hoverable"><i class="material-icons pink-text text-darken-1">work</i>Projects</div>
                                                    <div class="collapsible-body">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Start</th>
                                                                    <th>End</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for project in item.get_projects().keys() %} 
                                                                    <tr>
                                                                        <td>{{item.get_projects()[project]['Name']}}</td>
                                                                        <td>{{item.get_projects()[project]['StartDate']}}</td>
                                                                        <td>{{item.get_projects()[project]['EndDate']}}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}

                                </div>
                                
                            </div>

                        </li>
                        <br>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

    </div>


</div>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
        $('.slider').slider();
        $('.modal').modal();
        $('select').formSelect();
        M.updateTextFields();
    });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    });

    var selectedDataset = "";

    function updateSelectedDataset(newSelected){
        selectedDataset = newSelected;
    }

    function addDataset(){
        var elem = document.getElementById("projectsSelected" + selectedDataset);
        var instance = M.FormSelect.getInstance(elem);
        var selected = instance.getSelectedValues();

        const Url = "http://127.0.0.1:8080/project/add";
        
        json_body = {
                "Projects":selected,
                "DatasetId":selectedDataset
            }
        const request={
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "SessionId":"{{session}}"
            },
            body:JSON.stringify(json_body),
            method:"POST"
        };
        var elem = document.getElementById("modalAdd" + selectedDataset);
        var instance = M.Modal.getInstance(elem);
        instance.close();
        
        fetch(Url, request)
        .then(data=>{return data.json()})
        .then(res=>{
            console.log(res)
            M.toast({html: res['Message'], classes: 'rounded pink darken-1'});
        })
        .fetch(error=>console.log(error))
    }
        
</script>

{% endblock %}