{% extends "master.html" %}

{% block content %}
    <div class="container">
        
        <div class="row">  
            <div class="col s12">
           
                <div class="row">
                    
                    <div class="col s12">
                        
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title center-align"><h4>My Projects</h4></span>
                                
                                <div class="row">
                                    <div class="col s12">

                                        <ul class="collapsible popout">
                                            {% for project in projects %}
                                            <li>        
                                                <div class="collapsible-header hoverable">
                                                    <i class="material-icons left pink-text text-darken-1">work</i>
                                                    {{project.get_name()}}
                                                    {% if project.get_public() == true %}
                                                        <span class="new badge pink darken-1" data-badge-caption="Public"></span>
                                                    {% endif %}
                                                </div>

                                                <div class="collapsible-body">
                                                    
                                                    <div class="row">
                                                        
                                                        <div class="col s12 m12 l3">
                                                            
                                                            <div class="card">
                                                                <div class="card-content">
                                                                    <div class="row">
                                                                        <span class="card-title center-align"><h5>Options</h5></span>
                                                                    </div>
                                                                    
                                                                    <div class="row">
                                                                        
                                                                            {% if session['email'] == project.get_creator() %}
                                                                                <div class="row center">
                                                                                    <div class="col s12">
                                                                                        <a class="btn modal-trigger waves-effect waves-light center-align pink darken-1 " href="#{{project.get_project_id()}}Invite">Invite</a>
                                                                                    </div>
                                                                                </div>

                                                                                <div id="{{project.get_project_id()}}Invite" class="modal">
                                                                                    <div class="modal-content">
                                                                                        <h5>Invite User</h5>
                                                                                            
                                                                                        <div class="row">
                                                                                                            
                                                                                            <form class="col s12" method="post" action="/projects/invite">
                                                                                                                
                                                                                                <div class="input-field col s12 form-group">
                                                                                                    <input id="projectEmail" name="projectEmail" type="Email" class="validate form-control" required="" aria-required="true">
                                                                                                    <label for="projectName">Email</label>
                                                                                                </div>
                                                                                                
                                                                                                <div class="col s12">
                                                                                                    <div class="col s12 m12 l6 offset-l6">
                                                                                                        <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" value ="{{project.get_project_id()}} "type="submit" name="action">Invite</button>
                                                                                                        <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>
                                                                            
                                                                                        </div>
                                                                            
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row center">
                                                                                    <div class="col s12">
                                                                                                
                                                                                            {% if project.get_public() == true %}
                                                                                            <form class="col s12" method="post" action="/projects/mode">
                                                                                                <button class="btn waves-effect waves-light center-align pink darken-1" value ="{{project.get_project_id()}}" type="submit" name="action">Make Private</button>
                                                                                                <input name="val" value="0" id="file_name" class="hide form-control">
                                                                                            </form>
                                                                                            {% else %}
                                                                                            <form class="col s12" method="post" action="/projects/mode">
                                                                                                <button class="btn waves-effect waves-light center-align pink darken-1" value ="{{project.get_project_id()}}" type="submit" name="action">Make Public</button>
                                                                                                <input name="val" value="1" id="file_name" class="hide form-control">
                                                                                            </form>
                                                                                            {% endif %}

                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                            <div class="row center">
                                                                                <div class="col s12">
                                                                                    <a class="btn modal-trigger waves-effect waves-light center-align pink darken-1 " href="#{{project.get_project_id()}}Leave">Leave</a>
                                                                                </div>
                                                                            </div>    
                                                                            
                                                                            <div id="{{project.get_project_id()}}Leave" class="modal">
                                                                                <div class="modal-content">
                                                                                    <h5>Are you sure you want to leave this project?</h5>
                                                                                        
                                                                                    <div class="row">
                                                                                                        
                                                                                        <form class="col s12" method="post" action="/projects/leave">

                                                                                            <div class="row">
                                                                                                <div class="col s12 m6">
                                                                                                    <div class="row center">
                                                                                                        <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" value ="{{project.get_project_id()}}" type="submit" name="action">Confirm</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col s12 m6">
                                                                                                    <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                                                                                                </div>
                                                                                            </div>

                                                                                        </form>
                                                                        
                                                                                    </div>
                                                                        
                                                                                </div>
                                                                            </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col s12 m12 l9">
                                                            
                                                            <div class="card">
                                                                <div class="card-content">

                                                                    <div class="row">
                                                                        <span class="card-title center-align"><h5>About</h5></span>
                                                                    </div>

                                                                    <div class="row">

                                                                        <div class="col s12 m12 l6">
                                                                            <blockquote>
                                                                                Created By: {{project.get_creator()}}
                                                                            </blockquote>
                                                                        </div>

                                                                        <div class="col s12 m12 l6">
                                                                            <blockquote>
                                                                                {{project.get_desc()}}
                                                                            </blockquote>
                                                                        </div>

                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col s12 m12 l6">
                                                                            
                                                                            <ul class="collapsible popout">
                                                                                <li>
                                                                                    <div class="collapsible-header hoverable">
                                                                                        <i class="material-icons left pink-text text-darken-1">folder</i>Project Datasets
                                                                                    </div>

                                                                                    <div class="collapsible-body">
                                                                                        
                                                                                        <div class="collection">
                                                                                            {% for dataset in project.get_datasets() %}
                                                                                            <a href="#{{dataset.get_data_set_name()}}{{project.get_project_id()}}Modal" class="collection-item pink-text text-darken-1 modal-trigger">{{dataset.get_data_set_name()}}</a>
                                                                                            <div id="{{dataset.get_data_set_name()}}{{project.get_project_id()}}Modal" class="modal">
                                                                                                <div class="modal-content">
                                                                                                    <h5>{{dataset.get_data_set_name()}}</h5>
                                                                                                        
                                                                                                    <div class="row">
                                                                                                                        

                                                                                        
                                                                                                    </div>
                                                                                        
                                                                                                </div>
                                                                                            </div>
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                        
                                                                                    </div>

                                                                                </li>
                                                                            </ul>

                                                                        </div>
                                                                        <div class="col s12 m12 l6">
                                                                            
                                                                            <ul class="collapsible popout">
                                                                                <li>
                                                                                    <div class="collapsible-header hoverable">
                                                                                        <i class="material-icons left pink-text text-darken-1">group</i>Project Members
                                                                                    </div>

                                                                                    <div class="collapsible-body">
                                                                                        <div class="row">
                                                                                            <div class="col s12">
                                                                                                <ul class="collection">
                                                                                                    {% for member in project.get_members() %}
                                                                                                        <li class="collection-item">{{member['email']}}
                                                                                                            {% if member['pending'] %}
                                                                                                                <span class="new badge pink darken-1" data-badge-caption="pending"></span>
                                                                                                            {% else %}
                                                                                                                <span class="new badge pink darken-1" data-badge-caption="member"></span>
                                                                                                            {% endif %}
                                                                                                        </li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </li>
                                                                            </ul>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </li>
                                            <br>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title center-align"><h4>Public Projects</h4></span>
                                
                                <div class="row">
                                    <div class="col s12">
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large modal-trigger pink darken-1"><i class="material-icons">menu</i></a>
                    <ul>
                        <li><a class="btn-floating modal-trigger tooltipped" data-position="left" data-tooltip="Create new project" href="#modal1"><i class="material-icons">create</i></a></li>
                        <li><a class="btn-floating modal-trigger yellow darken-1 tooltipped" data-position="left" data-tooltip="Project Invitations" href="#modalInvited"><i class="material-icons">group_add</i></a></li>
                      </ul>
                </div>
                  <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h5>Create Project</h5>
                
                            <div class="row">
                                
                                <form class="col s12" method="post" action="/projects/create">
                                    
                                    <div class="input-field col s12 form-group">
                                        <input id="projectName" name="projectName" type="text" class="validate form-control" required="" aria-required="true">
                                        <label for="projectName">Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="projectDesc" name="projectDesc" class="materialize-textarea"></textarea>
                                        <label for="projectDesc">Description</label>
                                    </div>
                                    <div class="switch">
                                        <label>
                                            Private
                                        <input id= 'public' type="checkbox" name="public">
                                        <span class="lever"></span>
                                            Public
                                        </label>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s12 m12 l6 offset-l6">
                                            <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" type="submit" name="action">Create</button>
                                            <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                    
                    <div id="modalInvited" class="modal">
                        <div class="modal-content">
                            <h5>Project Invitations</h5>
                
                            <div class="row">
                                <div class="col s12">

                                    <ul class="collection">
                                        {% for invitation in invitations %}
                                            <li class="collection-item">
                                                <div>

                                                    <form method="post" action="/projects/join">
                                                        {{invitation.get_name()}}<button value="{{invitation.get_project_id()}}" class="btn-flat secondary-content" type="submit" name="action"><i class="material-icons pink-text text-darken-1">done</i></button>
                                                    </form>
                                                    
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                          </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('.fixed-action-btn').floatingActionButton();
            $('.modal').modal();
            $('.tooltipped').tooltip();
            M.AutoInit();
        });
    </script>

{% endblock %}