{% extends "master.html" %}

{% block content %}
    <div class="container">
        
        <div class="row">  
            <div class="col s12">
           
                <div id='ProjectViewerRow' class="row">
                    
                    <div class="col s12">
                        
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title center-align"><h4>My Projects</h4></span>
                                
                                <div class="row">
                                    <div class="col s12">

                                        <ul class="collapsible popout">
                                            {% for project in projects %}
                                            <li>        
                                                <div class="collapsible-header hoverable">
                                                    <i class="material-icons left pink-text text-darken-1">work</i>
                                                    {{project.get_name()}}
                                                    {% if project.get_public() == true %}
                                                        <span class="new badge pink darken-1" data-badge-caption="Public"></span>
                                                    {% endif %}
                                                </div>

                                                <div class="collapsible-body">
                                                    
                                                    <div class="row">
                                                        
                                                        <div class="col s12 m12 l3">
                                                            
                                                            <div class="card">
                                                                <div class="card-content">
                                                                    <div class="row">
                                                                        <span class="card-title center-align"><h5>Options</h5></span>
                                                                    </div>
                                                                    
                                                                    <div class="row">
                                                                        
                                                                            {% if session['email'] == project.get_creator() %}
                                                                                <div class="row center">
                                                                                    <div class="col s12">
                                                                                        <a class="btn modal-trigger waves-effect waves-light center-align pink darken-1 " href="#{{project.get_project_id()}}Invite">Invite</a>
                                                                                    </div>
                                                                                </div>

                                                                                <div id="{{project.get_project_id()}}Invite" class="modal">
                                                                                    <div class="modal-content">
                                                                                        <h5>Invite User</h5>
                                                                                            
                                                                                        <div class="row">
                                                                                                            
                                                                                            <form class="col s12" method="post" action="/projects/invite">
                                                                                                                
                                                                                                <div class="input-field col s12 form-group">
                                                                                                    <input id="projectEmail" name="projectEmail" type="Email" class="validate form-control" required="" aria-required="true">
                                                                                                    <label for="projectName">Email</label>
                                                                                                </div>
                                                                                                
                                                                                                <div class="col s12">
                                                                                                    <div class="col s12 m12 l6 offset-l6">
                                                                                                        <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" value ="{{project.get_project_id()}} "type="submit" name="action">Invite</button>
                                                                                                        <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>
                                                                            
                                                                                        </div>
                                                                            
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row center">
                                                                                    <div class="col s12">
                                                                                                
                                                                                            {% if project.get_public() == true %}
                                                                                            <form class="col s12" method="post" action="/projects/mode">
                                                                                                <button class="btn waves-effect waves-light center-align pink darken-1" value ="{{project.get_project_id()}}" type="submit" name="action">Make Private</button>
                                                                                                <input name="val" value="0" id="file_name" class="hide form-control">
                                                                                            </form>
                                                                                            {% else %}
                                                                                            <form class="col s12" method="post" action="/projects/mode">
                                                                                                <button class="btn waves-effect waves-light center-align pink darken-1" value ="{{project.get_project_id()}}" type="submit" name="action">Make Public</button>
                                                                                                <input name="val" value="1" id="file_name" class="hide form-control">
                                                                                            </form>
                                                                                            {% endif %}

                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                            <div class="row center">
                                                                                <div class="col s12">
                                                                                    <a class="btn modal-trigger waves-effect waves-light center-align pink darken-1 " href="#{{project.get_project_id()}}Leave">Leave</a>
                                                                                </div>
                                                                            </div>    
                                                                            
                                                                            <div id="{{project.get_project_id()}}Leave" class="modal">
                                                                                <div class="modal-content">
                                                                                    <h5>Are you sure you want to leave this project?</h5>
                                                                                        
                                                                                    <div class="row">
                                                                                                        
                                                                                        <form class="col s12" method="post" action="/projects/leave">

                                                                                            <div class="row">
                                                                                                <div class="col s12 m6">
                                                                                                    <div class="row center">
                                                                                                        <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" value ="{{project.get_project_id()}}" type="submit" name="action">Confirm</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col s12 m6">
                                                                                                    <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                                                                                                </div>
                                                                                            </div>

                                                                                        </form>
                                                                        
                                                                                    </div>
                                                                        
                                                                                </div>
                                                                            </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col s12 m12 l9">
                                                            
                                                            <div class="card">
                                                                <div class="card-content">

                                                                    <div class="row">
                                                                        <span class="card-title center-align"><h5>About</h5></span>
                                                                    </div>

                                                                    <div class="row">

                                                                        <div class="col s12 m12 l6">
                                                                            <blockquote>
                                                                                Created By: {{project.get_creator()}}
                                                                            </blockquote>
                                                                        </div>

                                                                        <div class="col s12 m12 l6">
                                                                            <blockquote>
                                                                                {{project.get_desc()}}
                                                                            </blockquote>
                                                                        </div>

                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col s12 m12 l6">
                                                                            
                                                                            <ul class="collapsible popout">
                                                                                <li>
                                                                                    <div class="collapsible-header hoverable">
                                                                                        <i class="material-icons left pink-text text-darken-1">folder</i>Project Datasets
                                                                                    </div>

                                                                                    <div class="collapsible-body">
                                                                                        
                                                                                        <div class="collection">
                                                                                            {% for dataset in project.get_datasets() %}
                                                                                            <a href="#{{dataset.get_data_set_name()}}{{project.get_project_id()}}Modal" class="collection-item pink-text text-darken-1 modal-trigger">{{dataset.get_data_set_name()}}</a>
                                                                                            <div id="{{dataset.get_data_set_name()}}{{project.get_project_id()}}Modal" class="modal">
                                                                                                <div class="modal-content">
                                                                                                    <h5>{{dataset.get_data_set_name()}}</h5>
                                                                                                        
                                                                                                    <div class="row">
                                                                                                                        
                                                                                                        <div class="col s12">
                                                                                                            <div class="card">
                                                                                                                <div class="card-content">
                                                                                                                    <span class="card-title center-align">Dataset Information</span>
                                                                                                                    <div class="row">
                                                                                                                        <div class="col s12 m6">
                                                                                                                            <ul class="collection center-left">
                                                                                                                                <li class="collection-item"><b>Signal Type: </b>{{dataset.get_signal_type()}}</li>
                                                                                                                                <li class="collection-item"><b>Species: </b>{{dataset.get_species()}}</li>
                                                                                                                                <li class="collection-item"><b>Gender: </b>{{dataset.get_gender()}}</li>
                                                                                                                                <li class="collection-item"><b>Age: </b>{{dataset.get_age()}}</li>
                                                                                                                            </ul>
                                                                                                                        </div>
                                                                                                                        <div class="col s12 m6">
                                                                                                                            <ul class="collection center-left">
                                                                                                                                <li class="collection-item"><b>Target: </b>{{dataset.get_target()}}</li>
                                                                                                                                <li class="collection-item"><b>Action: </b>{{dataset.get_action()}}</li>
                                                                                                                                <li class="collection-item"><b>Channel Count: </b>{{dataset.get_channel_count()}}</li>
                                                                                                                                <li class="collection-item"><b>Device: </b>{{dataset.get_device()}}</li>
                                                                                                                            </ul>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="row">
                                                                                                                        <div class="col s12">
                                                                                                                                
                                                                                                                                <form id="downloadDatasetForm" method="POST" action="/download/dataset">                                        
                                                                                                                                    <input name="datasetName" value="{{dataset.get_data_set_name()}}" id="datasetName" class="hide form-control">
                                                                                                                                    <input name="datasetId" value="{{dataset.get_data_set_id()}}" id="datasetId" class="hide form-control">
                                                                                                                                    <button class="pink darken-1 waves-effect waves-light btn right" type="submit" name="action">Download</button>
                                                                                                                                </form>                                                     
                                                                    
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col s12">
                                                                                                            <div class="card">
                                                                                                                <div class="card-content">
                                                                                                                    <div class="slider">
                                                                                                                        <ul class="slides">
                                                                                                                          <li>
                                                                                                                            <img class="responsive-img" src="{{ url_for('static', filename='/img/logo.jpg')}}"> <!-- random image -->
                                                                                                                          </li>
                                                                                                                          <li>
                                                                                                                            <img class="responsive-img" src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                                                                                                                          </li>
                                                                                                                          <li>
                                                                                                                            <img class="responsive-img" src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                                                                                                                          </li>
                                                                                                                          <li>
                                                                                                                            <img class="responsive-img" src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                                                                                                                          </li>
                                                                                                                        </ul>
                                                                                                                      </div>
                                                                                                                </div> 
                                                                                                            </div> 
                                                                                                        </div>
                                                                                        
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        {% if dataset.get_tags() %}
                                                                                                            <div class="col s12">
                                                                                                                <ul class="collapsible">
                                                                                                                    <li>
                                                                                                                        <div class="collapsible-header hoverable"><i class="material-icons pink-text text-darken-1">label</i>Tags</div>
                                                                                                                        <div class="collapsible-body">
                                                                                                                            <table>
                                                                                                                                <thead>
                                                                                                                                    <tr>
                                                                                                                                        <th>Key</th>
                                                                                                                                        <th>Value</th>
                                                                                                                                    </tr>
                                                                                                                                </thead>
                                                                                                                                <tbody>
                                                                                                                                    {% for key in dataset.get_tags().keys() %}
                                                                                                                                        <tr>
                                                                                                                                            <td>{{key}}</td>
                                                                                                                                            <td>{{dataset.get_tags()[key]}}</td>
                                                                                                                                        </tr>
                                                                                                                                    {% endfor %}
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </div>
                                                                                                                    </li>
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                        {% endif %}
                                                                                                        <div class="col s12">
                                                                                                            <ul class="collapsible">
                                                                                                                <li>
                                                                                                                    <div class="collapsible-header hoverable"><i class="material-icons pink-text text-darken-1">description</i>Source Files</div>
                                                                                                                    <div class="collapsible-body">
                                                                                                                        <table>
                                                                                                                            <thead>
                                                                                                                                <tr>
                                                                                                                                    <th>Filename</th>
                                                                                                                                    <th>Select</th>
                                                                                                                                    <th>Download</th>
                                                                                                                                    <th>File History</th>
                                                                                                                                    <th>Upload Change</th>
                                                                                                                                </tr>
                                                                                                                            </thead>
                                                                                                                            <tbody>
                                                                                                                                {% for file in dataset.get_files() %}
                                                                                                                                    {% if file['Change'] == 'project source' %}
                                                                                                                                    <tr>
                                                                                                                                        <td>{{file['Filename']}}</td>
                                                                                                                                        <td>  
                                                                                                                                            <div class="input-field col s12">
                                                                                                                                                <select id="select{{file['FileId']}}" onchange="getSelected(value,'btnDownload{{file['FileId']}}', 'btnUpload{{file['FileId']}}')">
                                                                                                                                                    <option value="" disabled selected>Choose your option</option>

                                                                                                                                                    {% for file_version in dataset.get_files() %}
                                                                                                                                                        {% if file_version['FileId'] ==  file['FileId'] %}
                                                                                                                                                            <option value="{{file_version['Filepath']}}">{{file_version['Change']}}</option>
                                                                                                                                                        {% endif %}
                                                                                                                                                    {% endfor %}
                                                                                                                            
                                                                                                                                                </select>
                                                                                                                                                <label>File versions</label>
                                                                                                                                          </div>
                                                                                                                                        </td>
                                                                                                                                        <form method="POST" action="/download/file">
                                                                                                                                            <input name="fileName" value="{{file['Filename']}}" id="file_name" class="hide form-control">
                                                                                                                                            <input name="dataset" value="{{dataset.get_data_set_name()}}" id="dataset" class="hide form-control">
                                                                                                                                            <td><button id="btnDownload{{file['FileId']}}" class="pink darken-1 waves-effect waves-light btn" type="submit" name="action">Download</button></td>
                                                                                                                                        </form>
                                                                                                                                        <td><a class="pink darken-1 waves-effect waves-light btn" onclick="openFileHistory('{{file['FileId']}}', '{{project.get_project_id()}}','{{dataset.get_data_set_name()}}{{project.get_project_id()}}Modal','{{session['session_id']}}')">View History</a></td>
                                                                                                                                        <td>
                                                                                                                                            <div class="row">
                                                                                                                                                <form method="POST" enctype="multipart/form-data" action="/upload/projects/file">
                                                                                                                                                    <div class="col s12">
                                                                                                                                                        <div class="input-field form-group">
                                                                                                                                                            <input id="change{{file['FileId']}}" name="change" type="text" class="validate form-control" required="" aria-required="true">
                                                                                                                                                            <label for="change{{file['FileId']}}">Change</label>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                    <div class="col s12">
                                                                                                                                                        <div class="file-field input-field">
                                                                                                                                                            <div class="btn pink darken-1">
                                                                                                                                                                <span>File</span>
                                                                                                                                                                <input name="file" type="file">
                                                                                                                                                            </div>
                                                                                                                                                            <div class="file-path-wrapper">
                                                                                                                                                                <input class="file-path validate" type="text" placeholder="Upload one or more files" required="" aria-required="true">
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                    <div class="col s12">
                                                                                                                                                        <button value="{{file['Filepath']}}" id="btnUpload{{file['FileId']}}" class="pink darken-1 waves-effect waves-light right btn" type="submit" name="action">Upload</button>                                                                                                                                                                                                                                                                                                             
                                                                                                                                                    </div>
                                                                                                                                                </form>
                                                                                                                                            </div>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                    {% endif %}
                                                                                                                                {% endfor %}
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </div>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                
                                                                                                </div>
                                                                                        
                                            
                                                                                                
                                                                                            </div>
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                        
                                                                                    </div>

                                                                                </li>
                                                                            </ul>

                                                                        </div>
                                                                        <div class="col s12 m12 l6">
                                                                            
                                                                            <ul class="collapsible popout">
                                                                                <li>
                                                                                    <div class="collapsible-header hoverable">
                                                                                        <i class="material-icons left pink-text text-darken-1">group</i>Project Members
                                                                                    </div>

                                                                                    <div class="collapsible-body">
                                                                                        <div class="row">
                                                                                            <div class="col s12">
                                                                                                <ul class="collection">
                                                                                                    {% for member in project.get_members() %}
                                                                                                        <li class="collection-item">{{member['email']}}
                                                                                                            {% if member['pending'] %}
                                                                                                                <span class="new badge pink darken-1" data-badge-caption="pending"></span>
                                                                                                            {% else %}
                                                                                                                <span class="new badge pink darken-1" data-badge-caption="member"></span>
                                                                                                            {% endif %}
                                                                                                        </li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </li>
                                                                            </ul>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </li>
                                            <br>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div id="FileHistoryViewRow" class="row hide">
                    <div class="col s12">
                        
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title center-align"><h4>File History Viewer</h4></span>
                                
                                <div class="row">
                                    <div class="col s12">
                                        <div id="myDiagramDiv" style="width:100%; height:50rem; border: 1px solid black;">
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large modal-trigger pink darken-1"><i class="material-icons">menu</i></a>
                    <ul>
                        <li><a class="btn-floating modal-trigger tooltipped" data-position="left" data-tooltip="Create new project" href="#modal1"><i class="material-icons">create</i></a></li>
                        <li><a class="btn-floating modal-trigger yellow darken-1 tooltipped" data-position="left" data-tooltip="Project Invitations" href="#modalInvited"><i class="material-icons">group_add</i></a></li>
                      </ul>
                </div>
                  <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h5>Create Project</h5>
                
                            <div class="row">
                                
                                <form class="col s12" method="post" action="/projects/create">
                                    
                                    <div class="input-field col s12 form-group">
                                        <input id="projectName" name="projectName" type="text" class="validate form-control" required="" aria-required="true">
                                        <label for="projectName">Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="projectDesc" name="projectDesc" class="materialize-textarea"></textarea>
                                        <label for="projectDesc">Description</label>
                                    </div>
                                    <div class="switch">
                                        <label>
                                            Private
                                        <input id= 'public' type="checkbox" name="public">
                                        <span class="lever"></span>
                                            Public
                                        </label>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s12 m12 l6 offset-l6">
                                            <button class="btn waves-effect waves-light right white pink-text text-darken-1 hoverable" type="submit" name="action">Create</button>
                                            <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                    
                    <div id="modalInvited" class="modal">
                        <div class="modal-content">
                            <h5>Project Invitations</h5>
                
                            <div class="row">
                                <div class="col s12">

                                    <ul class="collection">
                                        {% for invitation in invitations %}
                                            <li class="collection-item">
                                                <div>

                                                    <form method="post" action="/projects/join">
                                                        {{invitation.get_name()}}<button value="{{invitation.get_project_id()}}" class="btn-flat secondary-content" type="submit" name="action"><i class="material-icons pink-text text-darken-1">done</i></button>
                                                    </form>
                                                    
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a class="modal-close btn waves-effect waves-light right white pink-text text-darken-1 hoverable">cancel</a>
                          </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('.fixed-action-btn').floatingActionButton();
            $('.modal').modal();
            $('.tooltipped').tooltip();
            $('.slider').slider();
            M.AutoInit();
        });

        //var selectedFile = "";
        function getSelected(selected, btnDownload, btnUpload){
            document.getElementById(btnDownload).value = selected;
            document.getElementById(btnUpload).value = selected;
        }
    </script>

{% endblock %}